* {
  padding: 0;
  margin: 0;

}

body {
  background: black !important;
  overflow: hidden;
}

body::before {
  background-image: url(/assets/img/logo_state.png);
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;

}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background-image: 
    radial-gradient(white 2px, transparent 1px),
    radial-gradient(white 2px, transparent 1px);
  background-size: 100px 100px, 160px 160px;
  opacity: 0.5;
  z-index: 0;
  animation: moveStars 120s linear infinite;
}

@keyframes moveStars {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-500px, -500px);
  }
}

.coluna {
 
  overflow: hidden;
  position: relative;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
  max-width: 500px;
  padding: 40px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.05);
}

.input-campo {
  background-color: transparent;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 16px rgba(0,0,0,0.4);
  border: none;
  border-bottom: 2px solid grey;
  width: 100%;
  height: 40px;
  margin-top: 25px;
  font-size: 18px;
  color: #fff;
}

#deco-texto {
  text-decoration: none;
  font-size: 17px;
  margin-top: 10px;
  color: #ffffff;
}

#deco-texto:hover {
  text-decoration: underline;
  color: #990808;
  transition: all 0.3s ease;
}

.login {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btn-acesso {
  border-radius: 20px;
  background-color: #5F0404;
  color: white;
  padding: 10px 40px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: none;
  margin-top: 30px;
}

.btn-acesso:hover {
  background-color: #7a0a0a;
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.google-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.btn-google {
  display: flex;
  align-items: center;

  color: #5F0404;
  border: 1px solid #5F0404;
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-google:hover {
  background-color: #f5f5f5;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.logo-google {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.text {
  padding-top: 80px;
  font-size: 15px;
  color: #888888;
}

footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  position: relative;
  bottom: 0;
  margin-top: 18%;
}

footer a {
  color: #00aaff;
  text-decoration: none;
  margin: 0 5px;
}

footer a:hover {
  text-decoration: underline;
}

/* Responsividade 
@media (max-width: 768px) {
  .coluna {
    margin: 10% auto;
    width: 90%;
    padding: 30px;
  }

  .input-campo {
    width: 100%;
    letter-spacing: normal;
  }

  .btn-acesso {
    width: 100%;
    margin-left: 0;
  }

  .btn-google {
    width: 100%;
    justify-content: center;
    margin: 0;
  }

  .text {
    font-size: 14px;
  }

  footer {
    font-size: 12px;
    padding: 5px;
  }

  body {
    background-image: url(/assets/img/avatarinicial.png);
    background-size: cover;
  }
}
*/